@media (max-width: 1355px) {
  header {
    max-width: 1355px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 50px;
    height: 96px;
    align-items: center;
  }
  footer {
    max-width: 1355px;
    height: 493px;
    flex-direction: column;
    padding: 42px 0px;
  }
  .contact_information {
    /* flex-direction: column; */
    width: 50%;
    height: 615px;
  }
  .contact_map {
    flex-direction: column;
  }
  iframe {
    width: 100%;
    height: 320px;
  }

.cards_part{
  width: 80%;
}
}







@media (max-width: 1150px){
  .message_box{
    height: 50%;
  }
  .sectionitems{
    width: 60%;
  }
}
@media (max-width: 750px) {
  .menu {
    display: none;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    gap: 0px;
    align-items: center;
    height: 160px;
    background: #B53B1B;
    position: fixed;
    top: 96px;
    left: -100%;
  }
  .fa-bars{
    display: block;
    padding-left: 25px;
    font-size: 1.313rem;
  }
  .fa-xmark{
    /* display: none; */
    padding-left: 25px;
    font-size: 1.313rem;
  }
  .title_button {
    width: 100%;
  }
  .cards_part{
    width: 90%;
  }
  .article_cards{
    width: 90%;
  }
  .sell_cards{
    width: 95%;
    flex-direction: column;
    justify-content: space-between;
  }
  .item{
    width: 45%;
  }
  .none{
    display: none;

  }
  .block{
    display: block;
  }
  .view_more{
    display: block;
    margin-top: 40px;
  }
  .sectionitems{
    width: 60%;
  }
  .show{
    left: 0;
  }
}







@media (max-width: 480px) {
  /* INDEX PAGE */
  .container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
  }


  /* .show{ */
    left: 0;
  }
  section {
    width: 480px;
    height: 400px;
    background-image: url(../images/Rectangle\ 109.png);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .sectionitems {
    justify-content: flex-start;

    padding: 110px 0px 0px 0px;
  }
  .section1_title {
    width: 90%;
    margin: 0 auto;
    /* font-size: 1.6rem; */
    width: 500px;
    height: 39px;
    /* text-align: left; */
    align-items: center;
  }
  .section1_text {
    width: 440px;
    height: 114px;
    align-items: center;
    margin-bottom: 52px;
  }

  .article_cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
  }
  .cardline1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .main_img_resolution {
    /* margin: 0px; */
    align-items: center;
    width: 440px;
    height: 240px;
  }

  .sell_cards {
    flex-direction: column;
    gap: 20px;
  }
  .view_more {
    display: block;
  }
  .section4_3text {
    flex-direction: column;
  }

 
  /* INDEX PAGE END */

  /* ARTWORKS PAGE */

  .artwork_main {
    display: flex;
    flex-direction: column;
  }
  .shopbycategory {
    width: 155px;
    height: 22px;
  }
  .artwork_article_button {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .artwork_search {
    width: 366px;
    height: 56px;
  }
  .search_btn {
    width: 83px;
  }
  .main_part2 {
  }
  .artwork_products {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 44px;
  }

  /* CONTACT PAGE */
  .contact_section {
    max-width: 480px;
  }
  .contact_form {
    padding: 128px 20px;
  }
  .section_form {
    width: 440px;
    height: 400px;
    padding: 12px 15px;
  }
  .message_box {
    width: 410px;
  }

}
