.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
/* SECTION */
section {
  background-image: url(../images/Rectangle_106.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
height: 720px;
width: 100%;
}
/* HEADER */
header {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 242px;
  background: rgba(213, 144, 110, 0.52);
  backdrop-filter: blur(5px);
  /* max-width: inherit; */
  width: 100%;
  position: fixed;

}
.fa-bars{
  display: none;
}
.fa-xmark{
  display: none;
}
.menu {
  display: flex;
  gap: 60px;
}
.active_page {
  color: #d5906e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  box-shadow: inset 0 0 0 0 #350ee2;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 25% 10%;
}
.active_page:hover {
  color: #d5906e;
  box-shadow: inset 200px 0 0 0 #54b3d6;
}
.header_text {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  box-shadow: inset 0 0 0 0 #350ee2;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 25% 10%;
}
.header_text:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;
}
.header_icons {
  display: flex;
  align-items: center;
  gap: 16.75px;
}
.signin {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: white;
  transition: 0.3s;
}
.signin:hover {
  transform: scale(1.5);
  color: rgb(8, 253, 61);
}
.fa-cart-shopping {
  color: white;
  transition: 0.3s;
}
.fa-cart-shopping:hover {
  transform: scale(1.5);
  color: rgb(8, 253, 61);
}
/* HEADER_END */

.sectionitems {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 283px;
  padding-bottom: 188px;
  margin: 0 auto;
  /* margin: 283px 0px 188px; */
  width: 40%;
  /* border: 3px solid white; */
}
.section1_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 48px;
  color: white;
  /* margin-top: 187px; */
  animation: color-change 5s infinite;
}
@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}
.section1_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 72px;
  width: 100%;
  /* height: 57px; */
  color: white;
  align-items: center;
  animation: color-change 5s infinite;
}
.shopnow {
  width: 311px;
  height: 56px;
  border: 2px solid #d5906e;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  color: white;
  transition: 0.5s;
}
.shopnow:hover {
  transform: scale(1.1);
}
/* SECTION_END */

/* MAIN */
.home_main {
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto; */
  padding-top: 160px;
  padding-bottom: 160px;
  gap: 60px;
  /* width: 100%; */
  /* border: 2px solid black; */
}
.cards_part{
  display: flex;
  justify-content: space-between;
  /* gap: 60px; */
  width: 50%;
  margin: 0 auto;
}
.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  /* border: 3px solid red; */
}

.card img{
  width: 100%;
}
/* .cards_part2{
  display: flex;
  justify-content: space-between;
  gap: 60px;

} */
.home_main_figcaption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem
  line-height: 22px;
  color: #b53b1b;
}
/* MAIN_END */

/* ARTICLE */
article {
  background-color: #402101;
}
.article_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 48px;
  color: white;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 40px;
}
.article_cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* gap: 60px; */
  width: 65%;
  margin: 0 auto;
  padding-bottom: 96px;
  /* border: 2px solid black; */
}
.cardline1 {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* gap: 60px; */
  /* border: 3px solid red; */
  margin-bottom: 60px;
  /* width: 100%; */

}
.cardline2 {
  display: flex;
  justify-content: space-between;
  /* gap: 60px; */
  width: 100%;
}
.main_img_resolution1{
width: 55%;
}
.main_img_resolution2{
  width: 40%;
}
.main_img_resolution3{
  width: 25%;
}
.main_img_resolution4{
  width: 40%;
}
/* ARTICLE_END */

/* SECTION 2 */
.section2 {
  background-color: white;
  /* display: flex; */
}
.section2_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 48px;
  color: #402101;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 40px;
}
.sell_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 83%;
  margin: 0 auto;
  margin-bottom: 160px;
  /* overflow: hidden; */
}
.item1 {
  background-image: url(../images/Rectangle\ 94.png);
  width: 20%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  height: 260px;
  /* position: relative; */
  overflow: hidden;
  transition: 0.5s;
  border: 3px solid green;
}
.product_price {
  /* position: relative; */
  margin-left: 16px;
  margin-bottom: 16px;
  bottom: 16px; */
  width: 30%;
  height: 48px;
  background: #ffffff;
  border-radius: 20px;
  border-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #b53b1b;
}
.item2{
  width: 315px;
  height: 260px;
}
.item3{
  width: 315px;
  height: 260px;
}
.item4{
  width: 315px;
  height: 260px;
}
.item img{
  /* width: 100%; */
}

.fa-square-caret-right,
.fa-square-caret-left {
  font-size: 2.75rem;
  color: #b53b1b;
  border-radius: 5px;
}
.sell_item_img {
  transition: transform 0.25s;
  width: 100%;
}
.item:hover {
  transform: scale(1.1);
}

.view_more{
  width: 144px;
height: 48px;
background: #B53B1B;
border-radius: 10px;
border-style: none;
outline: none;
display: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}

/* SECTION 2_END */

/* SECTION 3 */
.section3 {
  display: flex;
  border: 2px solid red;
  background-image: url(../images/Rectangle\ 98.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: linear-gradient(
      0deg,
      rgba(64, 33, 1, 0.55),
      rgba(64, 33, 1, 0.55)
    ),
    url(pexels-regiane-tosatti-22823(1).jpg);
  width: 100%;
  height: 480px;
}
.title_button {
  /* width: 100%; */
  margin: 0 auto;
  align-items: center;
  /* border: 2px solid green; */
}

.section3_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 48px;
  color: #ffffff;
  margin-top: 160px;
  margin-bottom: 56px;
}
.email_btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 160px;
  transition: 0.5s;
}
.mailbox {
  position: relative;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 482px;
  height: 56px;
}
.mailbox:focus {
  outline-style: none;
  box-shadow: none;
}
.subscribe_btn {
  position: absolute;
  justify-content: flex-end;
  width: 151px;
  height: 56px;
  background: #ffffff;
  border-radius: 0px 10px 10px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem
  line-height: 22px;
  color: #402101;
  border-style: none;
  outline: none;
  transition: 0.5s;
}
.subscribe_btn:hover {
  background-color: rgb(71, 24, 199);
  transition: 0.5s;
}
/* SECTION 3_END */

/* SECTION 4 */
.section4 {
}
.section4_3text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  gap: 60px;
  margin: 0 auto;
  margin-bottom: 112px;
}
.section4_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 44px;
  color: #402101;
  text-align: center;
  margin-top: 161px;
  margin-bottom: 40px;
}
.section4_texts {
  width: 439px;
  height: 129px;
  background: rgba(213, 144, 110, 0.3);
  border-radius: 8px;
}
.section4_text_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 29px;
  color: #b53b1b;
  margin-bottom: 24px;
}
.section4_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #402101;
}
.section4_part2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section4_title2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 29px;
  color: #402101;
  text-align: center;
}
.section4_btn {
  width: 309px;
  height: 56px;
  background: #b53b1b;
  border-radius: 10px;
  border-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 160px;
  transition: 0.5s;
}
.section4_btn:hover {
  background: #7a0505;
  transform: scale(1.1);
}
/* SECTION 4_END */

/* FOOTER */
footer {
  width: 1920px;
  height: 240px;
  width: 60%;
  background-color: #402101;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 32px 365px 56px;
  vertical-align: top;
}
.footer_nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 43px;
}
.footer_nav_title {
  margin-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem
  line-height: 22px;
  color: #ffffff;
}
.footer_nav_part1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  gap: 8px;
}
.footer_nav_link {
  color: #ffffff;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 19px;
}
.footer_social_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
}
.footer_contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
.contact_info {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 19px;
  color: #ffffff;
}
.link_icon {
  color: black;
  font-size: 1.875rem;
  transition: 0.4s;
}
.footer_logo {
}
.contact_icon {
  color: white;
  font: 18px;
}
.contact,
.gmail,
.adress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.fa-youtube:hover {
  color: red;
  transform: scale(1.5);
}
.fa-instagram:hover {
  background: radial-gradient(
    92.18% 99.11% at 26.56% 107.7%,
    #ffdd55 0%,
    #ffdd55 10%,
    #ff543e 50%,
    #c837ab 100%
  );
  /* color: blue; */
  border-radius: 25%;
  transform: scale(1.5);
}
.fa-facebook:hover {
  color: #1877f2;
  transform: scale(1.5);
}

/* FOOTER_END */

/* ARTWORKS_css */
/* SECTION & HEADER */
.artwork_section {
  background-image: url(../images/Rectangle\ 107.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.shopnow_artwork {
  width: 311px;
  height: 56px;
  border: 2px solid #d5906e;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  color: white;
  margin-top: 72px;
  transition: 0.5s;
}
.shopnow_artwork:hover {
  transform: scale(1.2);
}
/* SECTION & HEADER_END */

/* ARTWORK_MAIN */
.artwork_main {
  background-color: white;
  margin: 0 auto;
  margin-top: 161px;
  width: 76%;
}
.artwork_article_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95px;
}
.shopbycategory {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.artwork_main_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem
  line-height: 22px;
}
.artwork_main_search {
  display: flex;
  justify-content: flex-end;
}
.artwork_search {
  width: 690px;
  height: 56px;
  border: 2px solid #402101;
  border-radius: 10px;
  position: relative;
}
.search_btn {
  width: 251px;
  height: 56px;
  background: #402101;
  border-radius: 0px 10px 10px 0px;
  border-style: none;
  outline: none;
  position: absolute;
  align-items: flex-end;
}
.search_btn:hover {
  background-color: rgb(71, 24, 199);
  transition: 0.5s;
}
.artwork_main_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 48px;
  color: #402101;
}
.sort {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.main_part2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 61px;

}
.sort_btn {
  width: 118px;
  height: 29px;
  border: 2px solid #b53b1b;
  border-radius: 5px;
  background: #ffffff;
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 29px;
  color: #402101;
}
.fa-arrow-down-up-across-line {
  position: absolute;
  font-size: 1.688rem;
  text-align: end;
}
.artwork_products {
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
}
.artwork_card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 315px;
  height: 311px;
}
.artwork_main_fig {
}
.artwork_main_fig:hover {
  filter: drop-shadow(0 0 0.75rem crimson);
  transition: 0.15s;
}
.artwork_main_figcap {
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #b53b1b;
}
.price_icon {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 29px;
  color: #402101;
}
.fa-cart-plus {
  background: rgba(213, 144, 110, 0.3);
  border-radius: 5px;
  font-size: 1.5rem;
}
.page_list {
  margin-top: 142px;
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}
.page_num {
  width: 56px;
  height: 56px;
  border: 2px solid #b53b1b;
  background: none;
}
.page_num_active {
  background: #b53b1b;
}
/* ARTWORK_MAIN_END */

/* CONTACT_PAGE */
.contact_section {
  background-image: url(../images/Rectangle\ 108.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 1920px;
  height: 720px;
}
.contact_form {
  padding: 208px 1180px 112px 240px;
}
.section_form{
  padding: 24px 30px ;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 500px;
  height: 400px;
  background: rgba(64, 33, 1, 0.73);
  border: 1px solid #ffffff;
  box-shadow: -1px -1px 4px #ffffff;
  border-radius: 10px;
}

.contact_line1 {
  display: flex;
  justify-content: flex-start;
  /* border: 2px solid white; */
  gap: 29px;
  margin-bottom: ;
}
.contact_line2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
}
.contact_form_title {
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 45px;
  animation: color-change 3s infinite;


}

input {
  width: 190px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background: none;
}
.message_box {
  width: 440px;
  height: 96px;
  border-radius: 10px;
}
.submit_btn {
  width: 147px;
  height: 56px;
  background: #d5906e;
  border-radius: 10px;
  border-style: none;
  outline: none;
}
.submit_btn:hover {
  background-color: #3e8e41;
}
.submit_btn:active {
  transform: scale(0.95);
}
/* SECTION_END */

/* CONTACT-INFO */
.contact_information{
margin: 0 auto;
margin-top: 160px;
margin-bottom: 160px;
  background-color: rgba(213, 144, 110, 0.3);
  width: 1190px;
  height: 408px;
}
.contact_information_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 48px;
  color: #402101;
  text-align: center;
}
.phone {
  margin-top: 40px;
}
.mail {
  margin-top: 32px;
  margin-bottom: 32px;
}
h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem
  line-height: 22px;
  color: #b53b1b;
}
.contact_information_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 19px;
  color: #623932;
}
.contact_map{
  display: flex;
  justify-content: space-between;
}
.map{
  margin-top: 40px;
}
